
<div class="container-fluid">

{{#if retry}}
<h4 style="color: red">The provided information did not match user account or has expired. Please try again.</h4>
{{/if}}

<p>
<h4>An email has been sent to {{email}}.</h4> 
</p>

<p>
<h4>To continue the registration process, please use either of these methods:</h4>
</p>
<ol>
    <li>
        Click on the link provided in the email
    </li>
    <li>
        Submit the token value from the email in the form below.
    </li>
</ol>


<div class="container-fluid">

<form class="form-horizontal" role="form" action="/processregconfirm" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

      <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-small" type="submit">Submit</button>
            </span>
            <input name="token" type="text" class="form-control" placeholder="Token">
            <input name="email" type="hidden"  value={{email}}></input> 
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->

</form>

</div> <!-- /container -->

</br>
<p>
<h4>If you are unable to complete the registration the link may have expired.
Please try resending the email.</h4>
</p>

<form action="/sendregconfirm" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="email" value={{email}}></input>
    <button type="submit" class="btn btn-small " >Resend email</button>
</form>


</br>
<p>
<h4>Click <a href="/"><b>here</b></a> to return to the website.</h4>
</p>

</div>
